{% extends "layouts/base.html" %}

{% block content %}

<div class="hero__home">
  <div class="hero_image" style="height:860px;background:grey">
    <img src="/images/home/hero_image.jpg"
      style="width: 100vw; height: 100%; object-fit: cover; object-position: center 20%;" alt="" />
  </div>
  <div class="container py-5">
    <div class="row align-items-center pt-5 pb-2">
      <div class="col-md-10">
        <h1 class="heading display-2 fw-bold">
          <span class="highlight-text">Quality homes</span> in bespoke developments with <span
            class="highlight-text">high-end finishes</span>
        </h1>
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row align-items-center pt-5 pb-5">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <p class="lead text-md-start">
          A family development group, Oakwood focuses on building high-quality A-rated homes with the latest in
          energy-efficiency wrapped up in design excellence. Specialising in boutique developments, Oakwood build homes
          with outstanding finishes and quality materials, always employing the highest calibre of craftsmanship.
        </p>
      </div>
    </div>
  </div>

</div>

{% include "partials/home/developments_2.html" %}
{% include "partials/news-announcement.html" %}
{# {% include "partials/home/quotes.html" %} #}

{{ content | safe }}

{% endblock %}