<article class="developments mb-5 pb-5">

  <!-- NEW LAYOUT-->
  <div class="container">
    <div class="row mb-5 pb-5">
      <div class="col-md-5 d-flex align-items-center">
        <div class="property-description-snippet">
          <h3 class="fw-bold mb-4">Dundrum</h3>
          <p>Barton Road East in Dundrum was a complete renovation and a new, detached five-bed was built beside it.
            Stunning, bespoke kitchens, fully fitted bathrooms and landscaped gardens mean both houses were turnkey.</p>
          <div class="pt-4">

            <a href="/developments/dundrum" class="btn btn-primary btn-lg">View Development <svg
                style="margin-top:-2px; padding-left:4px" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.40605 0.305664L19.4707 9.99988L9.40605 19.6941L7.69413 18.0452L14.827 11.1749H0.25V8.82482H14.827L7.69413 1.95456L9.40605 0.305664Z"
                  fill="#4DA66B" />
              </svg>
            </a>

          </div>
        </div>
      </div>
      <div class="col-md-7 d-flex justify-content-end">
        <img src="/images/developments/dundrum/117a_card_image.jpg" alt="" class="img-fluid"
          style="max-width: 800px; width: 100%; height: auto;" />
      </div>
    </div>

    <div class="row mb-5 pb-5">
      <div class="col-md-5 order-md-2 d-flex align-items-center">
        <div class="property-description-snippet">
          <h3 class="fw-bold mb-4">Monkstown</h3>
          <p>A renovated four-bed and two new semi-detached three-beds in Monkstown’s Windsor Park developed in 2024.
            These houses caught the attention of The Irish Times who praised the <em>“fastidious attention to detail,
              the
              fitout of the three houses is excellent."</em></p>
          <div class="pt-4">

            <a href="/developments/monkstown" class="btn btn-primary btn-lg">View Development <svg
                style="margin-top:-2px; padding-left:4px" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.40605 0.305664L19.4707 9.99988L9.40605 19.6941L7.69413 18.0452L14.827 11.1749H0.25V8.82482H14.827L7.69413 1.95456L9.40605 0.305664Z"
                  fill="#4DA66B" />
              </svg>
            </a>

          </div>
        </div>
      </div>
      <div class="col-md-7 order-md-1">
        <img src="/images/developments/monkstown/34_card_image.jpg" alt="" class="img-fluid"
          style="max-width: 800px; width: 100%; height: auto;" />
      </div>
    </div>

    <div class="row mb-5 pb-5">
      <div class="col-md-5 d-flex align-items-center">
        <div class="property-description-snippet">
          <span class="badge text-danger border border-danger-subtle mb-4">Coming in 2025</span>
          <h3 class="fw-bold mb-4">Mount Merrion</h3>
          <p>Four new houses in a prime site in Mount Merrion, in the heart of south Dublin. Oakwood Group is building
            two new A-rated family homes with everything that has made our previous developments so successful – energy
            efficiency, fine finishes and excellent craftsmanship.</p>
          <div class="pt-4">

            <a href="/developments/mount-merrion" class="btn btn-primary btn-lg">View Development <svg
                style="margin-top:-2px; padding-left:4px" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.40605 0.305664L19.4707 9.99988L9.40605 19.6941L7.69413 18.0452L14.827 11.1749H0.25V8.82482H14.827L7.69413 1.95456L9.40605 0.305664Z"
                  fill="#4DA66B" />
              </svg>
            </a>

          </div>
        </div>
      </div>
      <div class="col-md-7 d-flex justify-content-end">
        <img src="/images/developments/mount-merrion/MM_card_image.jpg" alt="" class="img-fluid"
          style="max-width: 800px; width: 100%; height: auto;" />
      </div>
    </div>
  </div>
  <!-- END OF NEW LAYOUT -->
</article>

<article class="coming-soon  pt-5 pb-5 mb-5" style="background-color: #ffffff;">
  <div class="container">
    <div class="row">
      <div class="col-md-5 order-md-2 d-flex align-items-center">
        <div class="property-description-snippet">
          <span class="badge text-danger border border-danger-subtle mb-4">Coming in 2025</span>
          <h3 class="fw-bold mb-4">Foxrock</h3>
          <p>Our new houses in a prime site in Foxrock, in the heart of south Dublin. Oakwood Group is building four new
            detached A-rated family homes with everything that has made our previous developments so successful – energy
            efficiency, fine finishes and excellent craftsmanship.</p>
          <!-- <div class="pt-4">
            <a href="/developments/monkstown" class="btn btn-primary btn-lg">Read More <svg
                style="margin-top:-2px; padding-left:4px" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.40605 0.305664L19.4707 9.99988L9.40605 19.6941L7.69413 18.0452L14.827 11.1749H0.25V8.82482H14.827L7.69413 1.95456L9.40605 0.305664Z"
                  fill="#4DA66B" />
              </svg>
            </a>
          </div> -->
        </div>
      </div>
      <div class="col-md-7 order-md-1">
        <img src="/images/developments/foxrock/CS_card_image.jpg" alt="" class="img-fluid"
          style="max-width: 800px; width: 100%; height: auto;" />
      </div>
    </div>
  </div>
</article>