<article class="developments mb-5 pb-5">
  <div class="container pt-5">
    <div class="col-md-9">
      <h2 class="fw-bold mb-5" data-cue="fadeIn">Our Developments</h2>
    </div>
  </div>

  <!-- NEW LAYOUT-->
  <div class="container">
    <div class="row mb-5 pb-5">
      <div class="col-md-5 d-flex align-items-center">
        <div class="property-description-snippet">
          <span class="badge text-success border border-success-subtle mb-4">Complete</span>
          <h3 class="display-6 fw-bold mb-4">Dundrum</h3>
          <p>Two luxury family homes number 117 & 117A Barton Road East to the market each with
            2,023 & 2314 square feet (approx.) of carefully curated space, nestled in the heart of Dundrum</p>
          <div class="pt-4">

            <a href="/developments/dundrum" class="btn btn-primary btn-lg">Read More <svg
                style="margin-top:-2px; padding-left:4px" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.40605 0.305664L19.4707 9.99988L9.40605 19.6941L7.69413 18.0452L14.827 11.1749H0.25V8.82482H14.827L7.69413 1.95456L9.40605 0.305664Z"
                  fill="#4DA66B" />
              </svg>
            </a>

          </div>
        </div>
      </div>
      <div class="col-md-7 d-flex justify-content-end">
        <img src="/images/developments/dundrum/117a_card_image.jpg" alt="" class="img-fluid"
          style="max-width: 800px; width: 100%; height: auto;" />
      </div>
    </div>

    <div class="row mb-5 pb-5">
      <div class="col-md-5 order-md-2 d-flex align-items-center">
        <div class="property-description-snippet">
          <span class="badge text-success border border-success-subtle mb-4">Complete</span>
          <h3 class="display-6 fw-bold mb-4">Monkstown</h3>
          <p>Two luxury family homes number 117 & 117A Barton Road East to the market each with
            2,023 & 2314 square feet (approx.) of carefully curated space, nestled in the heart of Dundrum</p>
          <div class="pt-4">

            <a href="/developments/monkstown" class="btn btn-primary btn-lg">Read More <svg
                style="margin-top:-2px; padding-left:4px" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.40605 0.305664L19.4707 9.99988L9.40605 19.6941L7.69413 18.0452L14.827 11.1749H0.25V8.82482H14.827L7.69413 1.95456L9.40605 0.305664Z"
                  fill="#4DA66B" />
              </svg>
            </a>

          </div>
        </div>
      </div>
      <div class="col-md-7 order-md-1">
        <img src="/images/developments/monkstown/34_card_image.jpg" alt="" class="img-fluid"
          style="max-width: 800px; width: 100%; height: auto;" />
      </div>
    </div>

    <div class="row mb-5 pb-5">
      <div class="col-md-5 d-flex align-items-center">
        <div class="property-description-snippet">
          <span class="badge text-danger border border-danger-subtle mb-4">Coming in 2025</span>
          <h3 class="display-6 fw-bold mb-4">Mount Merrion</h3>
          <p>Two luxury family homes number 117 & 117A Barton Road East to the market each with
            2,023 & 2314 square feet (approx.) of carefully curated space, nestled in the heart of Dundrum</p>
          <div class="pt-4">

            <a href="/developments/mount-merrion" class="btn btn-primary btn-lg">Read More <svg
                style="margin-top:-2px; padding-left:4px" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.40605 0.305664L19.4707 9.99988L9.40605 19.6941L7.69413 18.0452L14.827 11.1749H0.25V8.82482H14.827L7.69413 1.95456L9.40605 0.305664Z"
                  fill="#4DA66B" />
              </svg>
            </a>

          </div>
        </div>
      </div>
      <div class="col-md-7 d-flex justify-content-end">
        <img src="/images/developments/mount-merrion/MM_card_image.jpg" alt="" class="img-fluid"
          style="max-width: 800px; width: 100%; height: auto;" />
      </div>
    </div>
  </div>
  <!-- END OF NEW LAYOUT -->
</article>

<article class="coming-soon  pt-5 pb-5 mb-5" style="background-color: #ffffff;">
  <div class="container">
    <div class="row">
      <div class="col-md-5 order-md-2 d-flex align-items-center">
        <div class="property-description-snippet">
          <span class="badge text-danger border border-danger-subtle mb-4">Coming in 2025</span>
          <h3 class="display-6 fw-bold mb-4">FoxRock</h3>
          <p>Two luxury family homes number 117 & 117A Barton Road East to the market each with
            2,023 & 2314 square feet (approx.) of carefully curated space, nestled in the heart of Dundrum</p>
          <!-- <div class="pt-4">
            <a href="/developments/monkstown" class="btn btn-primary btn-lg">Read More <svg
                style="margin-top:-2px; padding-left:4px" width="20" height="20" viewBox="0 0 20 20" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M9.40605 0.305664L19.4707 9.99988L9.40605 19.6941L7.69413 18.0452L14.827 11.1749H0.25V8.82482H14.827L7.69413 1.95456L9.40605 0.305664Z"
                  fill="#4DA66B" />
              </svg>
            </a>
          </div> -->
        </div>
      </div>
      <div class="col-md-7 order-md-1">
        <img src="/images/developments/foxrock/CS_card_image.jpg" alt="" class="img-fluid"
          style="max-width: 800px; width: 100%; height: auto;" />
      </div>
    </div>
  </div>
</article>