@supports (font-variation-settings: normal) {

    html,
    body {
        font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    }
}

@font-face {
    font-family: "Satoshi";
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
    src: url(/fonts/Satoshi-Variable.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Satoshi";
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: italic;
    src: url(/fonts/Satoshi-VariableItalic.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Bitter";
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
    src: url(/fonts/Bitter-VariableFont_wght.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Bitter";
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: italic;
    src: url(/fonts/Bitter-Italic-VariableFont_wght.woff2) format("woff2");
    font-display: swap;
}

:root {
    --bs-body-font-family: "Satoshi", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif;
    --bs-headings-font-family: "Bitter";
    --font-weight-medium: 400;
    --font-body-size: 1.12rem;
}

body {
    font-family: var(--bs-body-font-family);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-body-size);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--bs-headings-font-family);
    font-weight: 600;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.25rem;
}

.highlight-text {
    color: var(--bs-typography-highlight-text);
}

.lead {
    font-weight: var(--font-weight-medium);
}