:root {
    --bs-border-radius: 0;
}

body {
    font-family: var(--bs-body-font-family);
}

.navbar {
    &-collapse {
        flex-grow: initial;
    }
}

.badge {
    --bs-badge-padding-x: 0.85em;
    --bs-badge-padding-y: 0.75em;
    --bs-badge-font-size: 0.75em;
    --bs-badge-font-weight: 700;
    --bs-badge-color: #fff;
    --bs-badge-border-radius: var(--bs-border-radius);
    text-transform: uppercase;
}

.text-bg-success {
    background-color: var(--bs-badge-success-background) !important;
}

.btn-lg {
    border-radius: var(--bs-border-radius);
}

.footer__main {
    background: #F5F1EA;
}

.news-announcement {
    color: white;

    .container {
        background: var(--bs-branding-dark-blue);
    }

    .news_quote {
        font-size: 1.45rem;
    }
}

.navbar-nav {
    .nav-link {
        color: var(--bs-branding-dark-blue);
        font-weight: bold;

        &-active-icon {
            position: absolute;
            top: 40px;
            left: 50%;
            margin-left: -4px;
        }

        &.active {
            position: relative;
            color: var(--bs-link-color-rgb);
        }
    }
}





@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1540px;
    }
}