<footer class="pt-5 footer__main border-top">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-12 mb-4">

      </div>

    </div>

    <div class="row">
      <div class="col-12 col-lg-4 mb-4 footer__products">
        <h6>Products</h6>
        <ul class="nav flex-column">
          {% for item in navigation.items[0].subitems %}
          <li class="nav-item mb-2"><a href="{{ item.url }}" class="nav-link p-0">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-12 col-lg-3 mb-4 footer__products">
        <h6>Services</h6>
        <ul class="nav flex-column">
          {% for item in navigation.items[1].subitems %}
          <li class="nav-item mb-2"><a href="{{ item.url }}" class="nav-link p-0">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-12 col-lg-3 mb-4 footer__products">
        <h6>Solutions</h6>
        <ul class="nav flex-column">
          {% for item in navigation.items[2].subitems %}
          <li class="nav-item mb-2"><a href="{{ item.url }}" class="nav-link p-0">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-12 col-lg-2 mb-4 footer__products">
        <h6>Company</h6>
        <ul class="nav flex-column">
          {% for item in navigation.items[3].subitems %}
          <li class="nav-item mb-2"><a href="{{ item.url }}" class="nav-link p-0">{{ item.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center footer__copyright">
      <div class="footer__copyright--info">
        <p class="footer__copyright--policy-links"><a href="/privacy-policy" class="p-0 pe-2">Privacy Policy</a> | <a
            href="/cookies-policy" class="p-0 ps-2">Cookies Policy</a></p>
        <p>&copy; {{ helpers.currentYear() }} Oakwood Group. All rights reserved.</p>
      </div>
    </div>
  </div> <!-- row container -->
  </div>
</footer>

<script src="/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/js/privacy-message.js" crossorigin="anonymous"></script>
<script src="/js/scrollCue.min.js"></script>
<script>
  scrollCue.init();
</script>