{% set pageTitle = title + ' - ' + site.name %}
{% if not title %}
{% set pageTitle = header + ' - ' + site.name %}
{% endif %}

{# Special case for the home page: Avoid duplication in the title and meta description #}
{% if page.url == '/' %}
{% set pageTitle = site.name %}
{% set metaDesc = site.name %}
{% else %}
{# Fallback for meta description if not explicitly set #}
{% if metaDesc %}
{% set metaDesc = metaDesc + ' - ' + site.name %}
{% else %}
{% set metaDesc = header + ' - ' + site.name %}
{% endif %}
{% endif %}

{% set siteTitle = site.name %}
{% set currentUrl = site.url + page.url %}

<title>{{ pageTitle }}</title>
<link rel="canonical" href="{{ currentUrl }}">
<meta name="description" content="{{ pageTitle }}">
<meta name="robots" content="index, follow">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ pageTitle }}">
<meta property="og:description" content="{{ metaDesc }}">
<meta property="og:url" content="{{ currentUrl }}">
<meta property="og:site_name" content="{{ siteTitle }}">
<meta property="og:image" content="https://www.oakwoodgroup.ie/images/meta/oakwoodgroup-logo_1200x627.png">
<meta property="og:image:height" content="315">
<meta property="og:image:type" content="image/png">
<meta property="og:image:width" content="600">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:title" content="{{ pageTitle }}" />
<meta property="twitter:description" content="{{ metaDesc }}">
<meta property="twitter:image" content="https://www.oakwoodgroup.ie/images/meta/oakwoodgroup-card-image.png">
<meta property="twitter:site" content="@oakwoodgroupie">