{# this works and open possibilities for multiple header types if needed #}

{% if (headerType == 'blogPost') %}
<div class="header__common">
  <div class="container">
    {# {% if pageHeaderTitle %}
    <p class="text-tag">{{ pageHeaderTitle }}</p>
    {% endif %} #}

    <h1 class="display-1 fw-bold" data-highlight="primary" data-cue="slideInUp">
      {{ pageMainHeader | safe }}
    </h1>
    {% if pageHeaderSummary %}
    <p class="display-6" data-cue="slideInUp">
      {{ pageHeaderSummary | safe }}
    </p>
    {% endif %}

    {% if articleImg %}
    <div class="article-image mt-5 rounded-6">
      <img class="rounded-6" src="/images/news/{{ articleImg }}" alt="{{ articleImgAlt }}" />
    </div>
    {% endif %}
  </div>
</div>
{% else %}
<div class="header__development-landing">
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-between align-items-center">
      <div class="col-4 col-lg-4 mb-4">
        <h1 class="display-1 fw-bold" data-highlight="primary" data-cue="slideInUp">
          {{ pageMainHeader | safe }}
        </h1>
      </div>
      <div class="col-4 col-lg-4 mb-4">
        {% if pageHeaderSummary %}
        <p class="display-6" data-cue="slideInUp">
          {{ pageHeaderSummary | safe }}
        </p>
        {% endif %}
      </div>
    </div>
    <div class="development-hero-image">
      <img src="/images/developments/{{ location }}/{{ developmentImg }}" alt="{{ developmentImgAlt }}" />
    </div>
  </div>
</div>
{% endif %}